# Supabase Configuration
VITE_SUPABASE_URL=https://rshefuocexrhiklqqfkx.supabase.co
VITE_SUPABASE_ANON_KEY=sb_publishable_xJu9t38fPE6YxIKRkC0v5w_p03V1MtY

# GEMINI_API_KEY: Optional for Gemini AI features
GEMINI_API_KEY="MY_GEMINI_API_KEY"
